[Unit]
Description=Gunicorn instance to serve application
After=network.target

[Service]
User=ubuntu
#Group=your_groupname
WorkingDirectory=/home/ubuntu/AirBnb_clone_v4
#Environment="PATH=/path/to/venv/bin"
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
